/*
!.vscode
!/cypress
/cypress/screenshots/
/secrets/*
!/secrets
!/secrets/.env.example
!/src
/src/node_modules/@sapper/
!/static
!.dockerignore
!.editorconfig
!.gitignore
!.meta
!.prettierc
!cypress.json
!docker-compose.yml
!Dockerfile
!dockerstartapp.bat
!package-lock.json
!package.json
!README.md
!rollup.config.js
!svelte.config.js