/*
!.vscode
!/cypress
/cypress/screenshots/
!/nginx
!/src
/src/node_modules/@sapper/
!/static
!.dockerignore
!.gitignore
!.meta
!cypress.json
!docker-compose.yml
!docker-compose.dev.yml
!docker-compose.test.yml
!docker-compose.stage.yml
!docker-compose.prod.yml
!Dockerfile
!k8.yaml
!package-lock.json
!package.json
!README.md
!rollup.config.js
!svelte.config.js