// COLOR SCHEME - WHITE GRAY
// - - - - - - - - - - - - - - - - - - -
// - - colors
$black: #12131a;
$black-s1: #6a6c6f;
$black-s2: #999999;
$blue: #3498db;
$blue-s1: #caeff7;
$blue-s2: #00bbe0;
$gray-s1: #f8f8fa;
$gray-s2: #cdd4e0;
$gray-s3: #f1f3f6;
$gray-s4: #eaeaea;
$green: #2ecc71;
$orange: #e67e22;
$purple: #cdcfe6;
$purple-s1: #7571f9;
$red: #ce4639;
$white: #ffffff;
$yellow: #f1c40f;

$base: $white;
$on-base: $black-s1;
$accent: $blue-s2;
$on-accent: $white;
$contrast: $blue-s1;
$on-contrast: $blue-s2;
$primary: $blue-s2;
$on-primary: $white;
$secondary: $gray-s1;
$on-secondary: $black-s1;
$contrast-alt: $gray-s1;
$error: $red;
$on-error: $white;
$border-main: $gray-s4;
$border-alt: $gray-s2;

$primary-t1: tint($primary, 10);
$primary-t2: tint($primary, 20);
$primary-s1: shade($primary, 10);
$primary-s2: shade($primary, 20);
$contrast-t1: tint($contrast, 10);
$contrast-t2: tint($contrast, 20);
$contrast-s1: shade($contrast, 10);
$contrast-s2: shade($contrast, 20);
$accent-t1: tint($accent, 10);
$accent-t2: tint($accent, 20);
$accent-s1: shade($accent, 10);
$accent-s2: shade($accent, 20);

$tags-colors: (
  blue: $blue,
  green: $green,
  orange: $orange,
  purple: $purple,
  red: $red,
  yellow: $yellow
);
